html, body {
 margin: auto;
 overflow: hidden;
 font-family: sans-serif;
 font-size: 18px;
 font-weight: bold;
 text-align: center;
/* UNIVERSAL TEXT COLOUR */ color: #FFFFFF;
}
.ifrm {
position:relative;width:100%;height:100%;margin:0;padding: 0;border:0;
}
#BGD {
/* MAIN CONTENT BACKGROUND COLOUR */ background:#0e3771;
 position:fixed;
 width:100%;
 height:100%;
 z-index: 1;
}
.navbarBG {
/* NAVIGATION MENU BACKGROUND COLOUR */ background-color:#0B305E;
 border: 3px solid black;
 box-shadow: 0px 1px 10px 0px black;
}
.navbar a:hover, .dropdown:hover .dropbtn, .dropdown-content a:hover {
/* NAVBAR & DROPDOWN HOVER COLOUR */ background-color:#0354B7;
}
.navbar {
 display: inline-block;
 overflow: hidden;
 background-color:inherit;
}
.navbar a {
 float: left;
 font-size: 18px;
 color: inherit;
 text-align: center;
 padding: 10px 16px;
 text-decoration: none;
}
.dropdown {
 float: left;
 overflow: hidden;
 background-color:inherit;
}
.dropdown .dropbtn {
 font-size: 18px;
 font-weight: bold;
 border: none;
 outline: none;
 color: inherit;
 padding: 10px 16px;
 background-color: inherit;
 font-family: inherit;
 margin: 0;
}
.dropdown-content {
 border: 2px solid black;
 display: none;
 position: absolute;
 background-color:inherit;
 min-width: 50px;
 box-shadow: 0px 8px 16px 0px black;
 margin: 0px -2px;
 z-index: 1;
}
.dropdown-content a {
 float: none;
 color: inherit;
 padding: 10px 16px;
 text-decoration: none;
 display: block;
 text-align: left;
}
.dropdown:hover .dropdown-content {
 display: block;
}
#footer {
 position:absolute;
 overflow: hidden;
 border: 3px solid black;
 left:0;
 right:0;
 bottom: 0px;
 height: 30px;
 max-height:40px;
 font-size: 16px;
 background-color:#0B305E;
 padding: 8px 0px 0px 0px;
 box-shadow: 0px -1px 10px 0px black;
}
.content {
 position: relative;
 margin: 0px 0px 0px 0px;
 max-width: 100%;
 height: 100%;
 padding: 0px;
 border-left: 3px solid black;
 border-right: 3px solid black;
}
.logo {
 overflow: hidden;
 position: fixed;
 position: absolute;
 top: 43%;
 left: 50%;
 text-align: center;
 transform: translate(-50%,-50%);
 width:350px;
 height:89px;
 background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAV4AAABZCAYAAAB2WUwWAAAACXBIWXMAAAsTAAALEwEAmpwYAAAABGdBTUEAALGOfPtRkwAAACBjSFJNAAB6JQAAgIMAAPn/AACA6QAAdTAAAOpgAAA6mAAAF2+SX8VGAAAS8ElEQVR42mL8//8/wygYBaNgFIwC+gGAAGIaDYJRMApGwSigLwAIoNGCdxSMglEwCugMAAJotOAdBaNgFIwCOgOAABoteEfBKBgFo4DOACCARgveUTAKRsEooDMACKDRgncUjIJRMAroDAACiGUIuFEBiDOA+AUQ3wbi40D8HohH18GNglEwCoYkAAggxiGwjlcPiC8i8UEF8HWo2CYgPgrEv0ajchSMglEwVABAAA2FglcHiM8AMTsWOZDjLwPxeagaUGv4EhD/Ho3aUTAKRsFgBQABNNQLXnQAKnCvAPECID4JZX8djeZRMApGwWACAAHEMsz8wwrEhlD8B4ifAfEBIN4MxFuA+MdolI+CUTAKBhoABNBwa/HiA9eA+AgQ72GAjAs/G43+UTAKRsFAAIAAGkkFLzJ4zgAZjljNABkT/juaFEbBKBgF9AIAATRSC14YAI0JnwbiOUC8aLQAHgWjYBTQAwAE0EjfQAEaE7YC4nlAfBCIY4GYazRZjIJRMApoCQACaHTnGgJYQ1u9oLXBFqPBMQpGwSigFQAIoNGCFxM4M0BWQlSNBsUoGAWjgBYAIIBGSsH7FIhfkaAeNJ7cCsTLgVhwNJmMglEwCqgJAAJoJBS8oJUL2lDcT6LeCAbI8IPIaFIZBaNgFFALAATQcF/V8B2ItYD4AZLYdAbIoTukgK1A7DOaXEbBKBgF1AAAATTcW7w3gfgxmlgtA2TogRTgDcTZo8llFIyCUUANABBAw73gBZ1khr429w0QnyPDLNAwhdFokhkFo2AUUAoAAohlmPuPEYf4SzLMAq35LQDiuGEUPqDhG1uo3/4Pozj/wgA5OvTNEI8bBSBWGoC4ATXIQFvqLwyjtM4JbTgJAPFPBshJhgN2gBZAAA33ghcX+EKmPtA4ryY0Uw8HIA7EGxmG36aRf9BCF7Qd/BgQb2OAnFY3FAqHYAbIkkYTIFaGig0EWAPEocMgLYgBcQ4QBzJA5ntgvfyzDJDhwwFJFwABNFLX8ZLbghBkGH5jvYzDMH6ZoBnOBYjrgPgQEFcOYCFGDAAVtKDNO4uBOIEBMqnMyTAKKAHO0Eq3FhqeyOWdMRDXD5TDAAJodAMF6cAB2jUf6ZXQUAJsQNzGANkYIzYI3ZcIdZvLaPaiCgANz6wC4t3QAhYXsIf2KugOAAJotOAlL1JlhpF/OEZQ3JlBM6T0IHITqHU7G4i5B1lYDcVhSFAFmwTEOxkgwySEenOgITbzgXAoQACN1DFeSgCo+wca570/DPzyCtraAk3k/BuirXVhIJZigEyc2BGhxx467JAzCNwvCm2JMxOh9iW0BXeXAbIckpbxBerRXRtiaQG0QaoJiINI1DcgFR5AAI0WvOQBhWHiD9CNHIuGiV9AvTfQBMpCIjITqLLphxZiAwlKgViSCHUgP4HGIx+OZj2soAyIq4GYjwy9A9LgAAig0aEG8oDkaBAMOgDKQGuBOIwBsmORUBczdoDdqw7EWUSoA00Mpo0WuliBGwPkRplOMgvdAQMAATRa8JIHRs9uGLwANIu9ngh12dCu/kAWGoRa5qAlcQlA/Gs0WlEAaBnkBgbIWK7zUPQAQACNFrzkAb7RIBjUYAYD5HYRQpWn9gC6UZfI1u790eiEA3ZoLwF0aYE/HnXzofJfBqtHAAJodIyXPMA2GgSDGpxggByMpEpAnfwAuQ802y5HhLrLo1EJB6AJ7ckEWrig4ZguIJ4GbVT+GayeAQig0RYveeD/aBAMagA6n4OYbeGCA5jviOk1vRiNSvCyNtDZ2IcJFLq9DJBrvKZB+bwMg3hzEEAAjbZ4R8FwBKCJtm/DoOHxe4THox8QFzJANi3h692AVqisGkoeAwig0YJ3tMU7HAEzkS3KP4PcH4wjNP5Ak2cNDPjPzf4ExAuAuIKB8CqWQQcAAmi04CUPfBwNgkGfrqWIUPd+NKgGHQCtsQbdd6iCRw3oYJt0IL44VD0JEECjBS954NVoEAxqADrzgJhtwfdGg2rQANAhQaBjV6PxqAFNnk0B4plA/HkoexYggEYLXvLA6GL2wQ1Aa3QJbcMF3UxyZTSoBhyAloiBNr1MZMA/2QnaLp06XPIeQACNrmogHfwfzbCDGvgCsSsR6mYxjA4ZDTSwAeJ9DJBt67gKXdC5FKDzFzyGU4MHIIBGW7ykA1BCuDoaDIMOgNZWpwBxCxHpGtRNXTEaZAMGQJtXQIcUlTDg3r0HWpUCOrVtEsMwHBICCKDRgpd0AKqhP40QvwoxQHZ3gc6mGIy79f4juRN0QI4lkfqWAfGd0aQ8IAB0gtw0Bvy7BkEbRzKB+OhwDQSAABoteEkDoFnwphHgT9CMMmjROugIRdB5BsNpSOoIwwDePDCCAWgoYToD5JxcXOkJdBca6LaIOQzDfMUJQACNFrykAdBs6t1h7kfQzHI5EEsMQ7+B9viDLit9OZqU6VrGxANxHhDr4VEHOtioD1oxDnsAEEAjteAlZ2E6KEF0DfMw6YMWvMMNwMYLQeffjvTdYPTuOU0AYm88akCVIGgct20kBQxAAI3UgpfUnWegQjdgmHd/UodZoQs6r+EBA+QQcVBranQlCn1BDQNkAk0cjxpQZdg5AnqRGAAggAZjwQs6INqRAXLbKq3uvQcN7r9mgOwFN8ETDqC1nqClLlOB+O0wTgegMK8lUi2ohQK6Eh400zzYzokFjR3+gMbVIwbIJM1nhlFATwA6Zxh0voIHHjWXGCDrdueN1EACCKDBUvAKALEtA2TgPRTqrpU0LHhBM9rt0KEDQwbIjLgCA+T+LtABK+8YINsSl0LZwx2AlmARc4En6HzYZIbRFQGjABOAVpaAbspoxlOu/IDm60KGEb5dGyCABrLgBe0ssmCA7Lm2ZUC9x+wTA33uQgJ1R89A8UgFcgRaJzAAOpYPdLj0h9EyZhSggUjo0IIWHjXXoJX2idHgYmAACCB6F7yM0MLWC4idoGxsS0sG2+lfrEjuBFUIw2mCxhqIeQio+QltpYwWuqMAGYAmz/IZ8N/YDDrXZBoDYnhvFAABQADRq+CVh7Zqk6E08yALB9B+cX5oqxt0uApow4AUlC8CxZzQCgE0rgka5wTtYHsGTUygA6ufMEC2NL6DdqmGCrAhQs05ID47ml1GAVK5AdrGO4EB/8WvJ6B5/tpokKECgACiZcHLwQBZCRDOANmtIjTI/C0P7SLpM0Aml2ShLT9ywwQ0bAE6FxQ0qXMDmuhAt97eZxi85/eyQ3sehMDJ0awyCqDAGIh7GPAfTg4avy1igGzL/jEaZJgAIICoXfByQwtZZ+hwguYg8qs4tLUNSjCmDJAti9xUNJ8ZWnBrQTGoRQA6V/QCEO9lgGw1PjbI4h/UyidmUu3ZaFYZ8QA0AQ46mLwcysYFQCsVQCsWLo0GGW4AEEDUKHhBY5+K0IIWNKupQwUzaXHyPqiWjhmAxOoAxQ1AfIABsnYRdAX5YFjmxMlA3Hbg0U0HIxuA5mKmQFu7uABoLW4HA2S77yggAAACiJKCVxc6lOAKjRAuKrqLjQbdc84BDmtmaE8AhG9CEyhowuHbALrpP5HhzDiaVagKGBmGxvkXagyQcy3C8JQVoDmNbgbIleqjW7GJBAABRE7BCypwQQPmKVTuqoMAaBnZaQbIbiNqtwj/Ucl9oDFc0CTaB2ihyQFt2YKGLpSINEcdmljdoIl6dLXAyAJMROadgZobAK3iiYb2EoXxqAOt6y5jGJxzAMTm9wEJY4AAIqXgBa33BI3deDJAJmWoCUCFLWh3GGit6GA7exM0ObCJAbKT7jwQv2GALK9CB6CMBLpeegkQixFpNqi3ANrIkTlaFo24gpefCHUDcVA76CAb0HCYGR41oCVioENvVg7iMP43mBMAQAARU/CCaj/QOj3QOk5ZKtoN2rQAmnQCXekBmnQaTDeFglrb+6Du2wPE14nQ8xWq5yMJBS8DtGUBOpzm9mh5NGIAaMxUkoiCg96Tmv7QxpU8EUMl7lD1g/HYAVArlovIXkU+1C+MeCpJ0JwMVbc3AwQQoUBjhbb0wqlkH6imBB1uPAOI9zMMrkkb0HKwq1B3ga6FIWXtISs0M4FmfFVJtJcXiM1HC94RBeKJyHuf6JwmQIUt6FwSYg68B53RnDhM4kKPAf9xlbBeL1ULXoAAIhT5EVQodP9CawxQF/wAw+C7ofcltGu1HdoKJ+XgFwUGyFg3aMutIQN5Eyaglv7oOtmRA0BpJpAIdaANK2/o6C4XhsF5y8hgAFRfiwwQQIQKXkoKXdBRijsZSF+/Cjqp3gbazafmjD9yoQiaHANNDOxggByO/ZQEcxShBS1o4wHoFDVhCt21YLS1O2KABgPkMH1C47v/oL0uek783B+NHqLKDqoAgAAiVPCSs7UX1GIEHWrczED8ADfIY6D1v6DJJtAibdCifikqF7ygWgs0ibcU2vom5ZhHbuhQAmhTRCx0eIAaAFQh1Yyma7oDNgbaLFnElcdAXXMTaL5QJEIPqNGxis5hAmoggQ6KT4AOO4DcPZSXETJC45iYHvlvAn5Fn3/igJYH/6Fl1y9oT/4dtFwBhZ0yA2TZKFYAEECECt61DMSdXIUMQDtWGklo3YIO4PZhgIxzwgKKFqeTgWZhPzOQNq4MWjoHmlgE3T2mTkW3/IVWTJ0Mo1sqBwKA7s2LgcYDrTM/FxQTu44c1NioGKBwAS0fmwztxfExDM6JM2LAf2jDbSMR4Q6qDFfgadWC4vA5lnITdKYL6Ahb0Dktu6Hl2Gto5QUaduyC9oixAoAAIhSwoOUioFl3BxI8DRqoBl1qtx7ahX6H1HoWhgYIaM2rGbRAU8ARcNQG70hwP2gYwRs65MFBRTeAlqGBlqaBZo6H7Q2qQwBIQDPOYAMfofnt3AC6AZRGnzEM/W3ib4hsvIHOlib1EJ8v0J4zaN0+aEJ+HQPklD9QmdEALdvwzhUBBBChgvcztDUKssSfhG5cBhR/gzoA1iRngxZkg60LIwANONBMrS+RXRRSAOjkMtBYcj/D6ClfgwH8GYRuAq1fLwHiraPRQxVA7F4DVgrsYEGyB9TyBW2uAi1IMGAgcNUUQAAR05UArU8NZoCcxQDai61FgsNg3azBCEAVAWhMORbaJZCisvmgCge0UgK2muPNIAwDRiK7wKzDLFOyDSK3gFqWoOMV5w/SNDJUAbG7A1kpTEewMhRkF+gYgFpobxbv2cMAAUTsGA5oLGwzA+SoQ3doQWVBYiE8WIAddCgBhG2pbDZo/Bi0mgO06QK0hO7CIA8L2KYPQgl0uF31cwWalum9XfQ/NMxBEzAPGRDrxp+MlpNUB6DhgPVENPwo2SkLGqJ4DGWDhlXPQBtboLJSAp9GgABi/P+f7LQHO28XtoZVhYqtW5CjQBNvoDEvHaiHyNmmvJMBMTnoCu3KuTBQf3nIU6hdc4H4OMPgPX8XV8uA0NDP32GWKQfykJrhFpajgAwAEECUzFqCZuNXQDGoyQ3aTgw6zQg0+w+aoAKdwiUELTAJNef/QLvmoOb5KWirkdqndoFWJ7hR0TzQEhPQrr4NDJBlYR+HaBr4NwLT/f/RAnAUDCQACCBqLRcBFZp3oXg70pgHqOAVgdI80Fbyf7TaHzSB9x5a6L5moN3NwtS4ihy0zO0Q1I+gLuL10SQ0CkbBKCAVAAQQLdfpfYXix4OolUNui/AOdCgBtOvoKgVuAFU+nAyjl/6NglEwogFAAA2FBdKgsTj2AbAXNMO8gAGy7vYchS1x0JgiaAOHIbR1D7qGCLTW+fBoEhwFo2DkAYAAGgoFL6igAi3PMKeDe0EH5oDW24Jm+kHnODykkrlZDJB73kB+AY1dg2ZDQYfJg8aJz4wmw1EwCkYWAAigoXD9CGiowoEBsvRrKrTQ+kVF80FLwC4yQLbvgq4wCocOKVCr0AXt1pOGuh003v2AAbIjDlS4Z4wmwVEwCkYeAAigobIXG7Tq4QQUgyboQKsnQNuNQdsrzRjI2wn3GloYgnYKXaJyYY4M+KHDFiD7QGf1ckOHLUAHoYB2yYG2Uo/OsI+CUTCCAEAADcVDMH5AC0oQBh2dZwltQVpBaeSTw5ALZG5o4bcF2to8wECfheugVRugLcmgcV3QBB1obHcBtOIADTv8G02Go2AUjCwAEEAsQ9z9P6EF6AEoH3T4Tjy0UNND8x+odXuDgf53ur2GttgjGSBrfkGFPWiTRRwD5ASj/6PJcBSMgpEFAAKIkp1rg71CUYa2Mg8PgsINdMQe6BhCEWgrnBHa6j40mgRHwSgYeQAggIZrwTsKRsEoGAWDFgAEENNoEIyCUTAKRgF9AUAAjRa8o2AUjIJRQGcAEECjBe8oGAWjYBTQGQAE0GjBOwpGwSgYBXQGAAE0WvCOglEwCkYBnQFAAI0WvKNgFIyCUUBnABBAowXvKBgFo2AU0BkABNBowTsKRsEoGAV0BgABNFrwjoJRMApGAZ0BQIABAHVQAbtUx8D0AAAAAElFTkSuQmCC');
 z-index: 21;
}
.desc {
 overflow: hidden;
 position: fixed;
 position: absolute;
 border-radius: 5px;
 border-style:solid;
 border-width:1px;
 padding: 15px;
 box-shadow: 0px 8px 16px 0px black;
 top: 69px;
 left: 50%;
 font-size: 16px;
 text-align: center;
 transform: translate(-50%);
 background-color: transparent;
 z-index: 20;
}
h1 {
 font-size: 20px;
 font-weight: bold;
 margin: -9 0 0 0;
}
h2 {
 font-size: 20px;
 font-weight: bold;
 margin: -5 0 0 0;
}
hr {
 border-style:solid;
 border-width:1px;
}
#Title{
 font-size: 20px;
 margin: 4px 0 0 0;
}
.loader{
 position:fixed;
 position:absolute;
 top:42%;
 left:50%;
 transform:translate(-50%, -50%);
}
.loaderO{
 display:inline-block;
 vertical-align:middle;
 border-radius:50%;
 border-style:solid;
 border-width:3px;
 border-top:3px solid transparent;
 width:16px;
 height:16px;
 -webkit-animation:spin 0.6s linear infinite;
}
@-webkit-keyframes spin{
 0%{-webkit-transform:rotate(0)}
 100%{-webkit-transform:rotate(360deg)}
}
.ib2{
 margin:auto;
 display:inline-block;
 vertical-align:middle;
 height:20px;
 line-height:16px;
 font-size:28px;
}
.info{
 margin:auto;
 position:absolute;
 position:relative;
 top:31%;
 width:1200px;
 padding:2px 0px 2px 0px;
 font-size:25px;
}
.ib{
 margin:auto;
 display:inline-block;
 padding:0px 2px 0px 0px;
 vertical-align:middle;
 height:30px;
 line-height:25px;
 font-size:25px;
}
#PSBUTTON{
 margin:auto;
 display:inline-block;
 vertical-align:middle;
 background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAACXBIWXMAAC4jAAAuIwF4pT92AAAABGdBTUEAALGOfPtRkwAAACBjSFJNAAB6JQAAgIMAAPn/AACA6QAAdTAAAOpgAAA6mAAAF2+SX8VGAAAIw0lEQVR42mJ8+fIlAwiwsrIyPHjwgKG1tZXB1taW4fLlywzs7OwsYmLi0ufOnQ0CKjH/8OGD3N+/f9kEBQU/cnFx3VBVVd0pKSm1f8eO7V+1tXX+cXBwMQQG+jFISIgxMDIyMsAAQACxMKABJiYmkIWMnz9/jt++fXuhoKCQirCwCNe3b98Y/v79Ddb8+vVrhu/fvzqdO3cu88+ff+/4+HhPqqmpFfPzC95ANhwGAAKIBSYIollYWBh+//4ts2vXrspnz55l+fj4MOjq6gPFWRk+fvzAcOvWDYb79++D1bGxsTF8+fKN8dfPP8JPnz732rx5m429vX0+CzPLYmZm5r////9nAGEQAAggpl+/fjGA8J8/f0C02KlTp7YDDcmqqqpicHZ2ZuDgYGf48eMbw+dPnxiAmoG+Aan7yfD3HzCIWdhBRjCws3EA5b/wrVi+cv7UaVOmgxyB7COAAGJOSEhg+PfvH8PZs2flCwsLdwYHB+sEBQUBXf6R4efPn2D84cM7hrdvPjE8ffaK4fWbtwy///wGW/bvL9AgoN5//0H4PwMHOzvDpYuXjR88fCigra27Cxh8QHX/GAACiNnPzw/I+MuwbNmyVklJSR9/f3+Gt2/fgoINjD9++MTw+fNXhqBAfwZ5BRUGLm5+BgYWNobPQEd8+fgV6DsGhv8M/4BBA/QakMXMyMVw+vRpCzNzs3M6Ojo3f/78xQAQQMx5uQUMW7duTX/w8EFTWloaw6tXrxi+ffsOdCAjw9evnxnef/zE8OP7L4agIH8GMzNDBjsnOwYHYDAqqmgxfPj2g+H5i5cMf3//ZWBmYgYHHSPTX2CcMTNcv37D3MjIYCsTE+N7gABi4uMXZPz+/Ve4n58/w+cvn4Gu/gwMjn8MP3/9Yfj+8wfDn7+/gOH/D6iZkeE3MEju3H/E0FDZwCAiIsiQW5nHYOfqxvDrNxMDEzMLAxMjKzh4QHFy6dJlpYULF5aA4gYggJhOnDiqIyggYCIuLsbw7u07hm/fv4Ej9vfvX0Df/GH4+eM3MCgYwRZ/+PgdGHyfGS5duMBw+8Z9hu/A4HJ0c2VQ1tFl+P3jDzCw/gMjnBkcCvx8AgzXrl21/vLlCztAADE9fPjYgleAhxcUwSBf/AKG4e8/P4FB9gUY4e8ZPn0CigEt+vz1O9Bnv0HGMLCxcoIjnfEfEwMLBweDrLIc0CG/gaH1C2gJ0FfAoGNn52QAJm01YNJXBQggJhEhMef/fxmAXv4FTgCglPYXmHo+ff4A9NknoDgwyf78y/ATlKL+/wBZwcDEIsDAysENDEJWYCwwA+FfBlBCYwT6mInxHzDo/jCwc7AwfP3ynf3OndsuAAHEIsgjKHLl8lWG5y+fANM7OzAnf2f4DYyHD8AI/w2MFyZGYF74zwRK7UALGMFBAiwUgKmMA5yqmFkYGV4+ecrAysQGTMYgS/4ysAIzKgfQJ5+AIfP48SNjgABiAbqQ4/mrJwyXb55n4ObiZhAU5GfgE+Bh+PMLlCCZGH7++87ABUz/QBOAmAWYRP8AE8NHhnu3rzNISpgz7Nm4meHe9esMLMCEwcTMxgBMWMAgZGTg4uFkYPvEDEyh35kBAojlwZN7TE9ePmX4AswL38FJF5g6mHkYpKSkGJSVFRhkFSUZjh07DwzCX2Af/AUGKysLB8P+3fsYrt+4yPDy1RsGNU1dUBHD8Pb1W4Z/f74DixwmBm5uTnAe4ubm+QAQQCz8/Bxnfv74ZQlKUcxAl/DyiDAkJsYzeHjaA/kcDK9fvWc4vP88AxtQx38GkC9+M/j6+AHziiPDi/fPGN4Cg/XOrQfAxAKMI1ZGhod3LgJ9dg4YP//BDubm5v4FEEAsUtLiuzk4mXJ/AcNfSFCAwcLSjEFeXoZh5aq1DFcv3wVa8g5YfnEw8PPzMjACw/nXn28Mfxh/Muzav4fh1NHjDHfvPWdg5WZjMDS2Z9A10WcQE+Vn+PLhOcOLe3eAjmRhAJbONwACiMXE2Gzv8uUr7v37y6wEKs6vXjvPICDABUxpDAzq6koMHh4ODDt37gNmMCagI3iBcnwM6zdsYmBh5GBQU1VmiIy1Z5BVVwD7+MGdSwwfnz9j+PvjJ8OrN+8YxMUl3mlpae4ACCCWTx+/fpMQUzjw++d1pe9MXxgOHTzCcP/uYwZfP29g5SPOcOPmTWBR8xpcqYEKDh5gHkmKDWOIjoliePXxG8MFYOW2ecM6hrs3rjKw/oWkOkZgzn8LzNj+AT4nWVnZHwAEEOOb1++B9cRd9by8wl137l6W4+DgBGYsYPHNzsqgoCDPwMPNDQwuXgYrS2sGSysrYPL8z3DyxBkGYPQxnDh9ieExsJj5DYxsPh4OBk5gzfif6T/DsaMnGeTlZBiampoSVFRUFgIEEOPVq1cZODk5Gfbt2xuck5O7hpOTA+hqDnCFw8/PzyAjIw2MPD5g6vsJFGdk4OVjY/j0EVQF/AA7BKSXjZ0ZmKLYwRF97uxZhi9fvzC0tLR0AUv0clAJABBAzAUFBWADgTbeBGrgAlZa1qDiGQT+/PkLTJpfgJr/AvMAqFz6DRT7BYxQRgYOTnZg0HABLWADtQXAFR+wOgZa8JUhJSXlNLBeygEmmG+gyhAggJjLysrApSYQ/7e2tt4NLFoUgRWYAagsY2ZmArv4/ft3QEN+gFMLGxsnA7ARAcacQItAteXz588ZgI4DV8nASvBMfHy8Nx8f32tQfQTyAEAAMT5+/BhRTQI1AAtJjuPHj8cuXbp0yrFjR9m+fv0GCRI2iIt5eXnBFoDKOZAhIJ+CEgUwJBgiIyN7rayseoWFhZ+Dgg4GAAIIxRJQS+Xdu3dgn3369MkY2FopPXDggMOjR4/EQYaByjVw/QBUB8o7wIwGMvyXiYnJEaDhi4BNpMVAvf9AcsgAIICwWgIKR5BCEA00VBRoif/t27cNQA0NoJg40OUvgeIvFBQUPispKa0Asq8DffkH3PwBOhBkOTIACDAA1hLBOsClSkMAAAAASUVORK5CYII=) no-repeat center center;
 height:30px;
 width:30px;
 border:0px solid #ccc;
}
#StylePick{
 position:fixed; left:0; right:0; top:0; bottom:0; margin:auto; max-width:100%; max-height:100%;
 overflow: hidden;
 width:100%;
 height: 100%;
 font-size: 16px;
}
#BGD2 {
 position:fixed; left:0; right:0; top:0; bottom:0; max-width:100%; max-height:100%;
 width:100%;
 height:100%;
 margin: -49px 0px 0px -3px;
 padding:0px 3px 0px 0px ;
 z-index: 1;
}
.FWversion {
position: absolute;
bottom: 50px;
width: 1000px;
font-size: 18px;
}
.cacheUPDbg {
position:fixed;left:0;right:0;top:0;bottom:0;max-width:100%;max-height:100%;margin:auto;	
width:100%;
height:100%;
background-color:rgba(0, 0, 0, 0.7);
z-index:100;
display:none;
}
.cacheUPD {
position:fixed;left:0;right:0;top:0;bottom:60px;max-width:100%;max-height:100%;margin:auto;	
width:900px;
height:400px;
line-height: 30px;display:flex;justify-content:center;align-items:center;
font-size:25px;
z-index:101;
}