html, body {
 color:#FFFFFF;
}
#BGD, #BGD2 {
 background:#0e3771;
}
.navbarBG {
 background-color:#0B305E;
 box-shadow:0px 1px 5px 0px black;
}
#footer {
 background-color:#0B305E;
 box-shadow:0px -1px 5px 0px black;
}